html, body {
    margin: 0;
    padding: 0;
    background: black;
    color:white;
    text-align:center;
    min-width: 300px;
}

.logo{
    width: 90px;
    padding: 50px 0 0 0;
}

.textInput{
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    width: 72vw;
    height: 118px;
    border-radius: 8px;
    color: #8f8f8f;
    min-width: 300px;
     
}


::placeholder {
  display: flex;
  position: absolute;
  top: 0px;
  padding: 10px;
  
}

#btn {
    background: #28A9F1;
    width: 72vw;
    height: 61px;
    border-radius: 8px;
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
}

.messageDisplay {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    
}
li{
    list-style-type: none;
    background-color: white;
    width: 72vw;
    margin: 0 auto 10px auto;
    padding: 10px;
    box-sizing: border-box;
    color: #1B1924;
    
}